.section {
    padding: 2rem 0;

    &.section-bg-grey {
        background-color: lightgrey;
    }
    &.section-bg-dark-grey {
        background-color: #1d2636;
    }
    .section-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 15rem;

        p {
            text-align: center;
        }
    }
}
