@use '../abstracts/mixins';
@use '../abstracts/variables';

.agents-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .agent-img {
            
            img {
            border-radius: 50%;
            }
        }
    .agent-localisation {
        text-align: center;
    }
    .agent-name {
        text-align: center;
    }
    .agent-contact {
        text-align: center;
       
        i {
            margin: 0 1.2rem;
            padding: 0.5rem 0.5rem;
            background-color: #f4f5f7;
            border-radius: 50%;
        }
        
    }
    .card-footer {
        border-top: none;
    }
}

@include mixins.desktop {
    .agents-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include mixins.smartphone {
    .agents-list {
        grid-template-columns: repeat(1, 1fr);
    }
}